html {
  font-family: Arial;
  font-size: 1em;
}

.container {
  width: 960px;
  box-shadow: 0px 0px 50px #999;
  margin: 0 auto;
  padding: 20px; 
}

fieldset {
  margin: 20px;
}
legend {
  color: #777;
}
.arvore {
  margin: 10px;
}

/* Smartphones ----------- */
  @media only screen and (max-width: 760px) {
    .container {
      margin: 0 auto;
      padding: 0.5em; 
      width: 760px;
    }
    fieldset {
      margin: 0.5em;
    }

    .arvore {
      margin: 0.3em;
    }
  }


/*
------------------------------------------- Árvore ---------*/
  
  /* Desktop  ----------- */
      ol { margin: 0; padding: 0; list-style: none; }
      ol ol { margin: 0 0 0 20px; }
      ol li {margin: 3px 0; padding: 0; list-style: none;}
      ol li > .item {background: #f5f5f5; border: 1px solid #eee; height: 20px; color: #777; text-shadow: 1px 1px 0px #fff; line-height: 20px; padding-left: 0.3em; font-size: 0.8em; position: relative; }
      ol li > .item:hover {background: #f1f1f1; border: 1px solid #e9e9e9;   }
      
      ol li.active > .item {background: #eee; }
      /*ol li .handler { float: left; width: 20px; height: 1.5em; background: #aaa; text-align: center;}*/
      .placeholder { background: none; border: 0.1em dashed #aaa; height: 1.3em; visibility: visible !important;}
      .ui-sortable-helper .item { box-shadow: 0px 0px 20px rgba(0,0,0,0.5)}

      [class^="icon-"]:before, [class*=" icon-"]:before {
        font-size: 16px;
        line-height: 1.3em;
        color: #0984ca;
      }

      [class^="icon-"], [class*=" icon-"] {
        margin-right: 5px;
      }

      .disclose {
        cursor: pointer;
        width: 20px;
        height: 20px;
        text-align: center;
        background: #fff;
        display: none;
        vertical-align: middle;
        font-size: 16px;
        margin-left: -4px;
        margin-right: 5px;
        overflow: hidden;
        text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
        float: left;
      }

      .sortable li.mjs-nestedSortable-collapsed > ol {
        display: none;
      }

      .sortable li.mjs-nestedSortable-branch > div.item > .disclose {
        display: block; 
      }

      .sortable li.mjs-nestedSortable-collapsed > div.item > .disclose > span:before {
        content: '+ ';
        line-height: 19px;
        color: #ccc;
      }

      .sortable li.mjs-nestedSortable-expanded > div.item > .disclose > span:before {
        content: '- ';
        color: #ccc;
        line-height: 15px;
      }

      
      .handle {
        font-style: normal;
        position: absolute;
        right: 25px;
        font-size: 10px;
        text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
        text-transform: uppercase;
        padding: 0px 7px 0px 22px;
        display: none;
      }

      ol li > .item:hover .handle {
        display: inline;
      }


      .handle:hover {
        background: #fff;
        color: #555;
        cursor: move;
      }

      ol li.not-sortable > .item .handle { opacity: 0.3;  }
      ol li.not-sortable > .item .handle:hover i:before { opacity: 0.5; color: #777;  }
      ol li.not-sortable > .item .handle:hover { cursor: default; }
      
      .handle i {
        position: absolute;
        top: 3px;
        left: 4px;
      }

      .handle i:before {
        font-size: 13px;
        text-shadow: none;
        line-height: 13px;
        color: #aaa;
      }

      .handle:hover i:before {
        color: #0984ca;
      }

      @media only screen and (max-width: 760px) {
        .handle {
          font-style: normal;
          position: absolute;
          right: 4.3em;
          top: 0.9em;
          font-size: 12px;
          text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
          text-transform: uppercase;
          padding: 0px 9px 2px 24px;
          height: 2.4em;
          display: block;
          line-height: 2.6em;
        }

        .handle:hover {
          background: none;
          cursor: move;
        }

        .handle i {
          position: absolute;
          top: 28%;
          left: 4px;
        }

        .handle i:before {
          font-size: 1.3em;
          text-shadow: none;
          line-height: 1em;
          color: #aaa;
        }

        .handle:hover i:before {
          color: #0984ca;
        }
      }


  /* Smartphones ----------- */
    @media only screen and (max-width: 760px) {

      ol { margin: 0; padding: 0; list-style: none; }
      ol ol { margin: 0 0 0 2em; }
      ol li {margin: 5px 0; padding: 0; list-style: none;}
      ol li .item {background: #f1f1f1; border: 1px solid #eee; height: 3em; font-size: 1.1em; line-height: 2.7em; }
      ol li.active .item {background: #ddd; }
      ol li .handler { float: right; width: 30px; height: 30px; background: #aaa; text-align: center;}
      .placeholder { background: none; border: 0.2em dashed #aaa; height: 2.6em; visibility: visible !important;}
      .ui-sortable-helper .item { box-shadow: 0px 0px 20px rgba(0,0,0,0.5)}
      ol li .item .text {
        display: block;
        line-height: 1em;
        float: left;
        margin-left: 10px;
        margin-top: 7px;
        max-width: 490px;
      }

      ol li ol li .item .text {
        max-width: 450px;
      }
      ol li ol li ol li .item .text {
        max-width: 420px;
      }
      ol li ol li ol li ol li .item .text {
        max-width: 380px;
      }
      ol li ol li ol li ol li ol li .item .text {
        max-width: 350px;
      }

      [class^="icon-"], [class*=" icon-"] {
        float: left;
      }

      [class^="icon-"]:before, [class*=" icon-"]:before {
        font-size: 1.4em;
        line-height: 1.9em;
      }

      .disclose {
        cursor: pointer;
        width: 2em;
        height: 2em;
        text-align: center;
        background: #fff;
        display: none;
        vertical-align: middle;
        line-height: 1.7em;
        font-size: 1em;
        margin-top: 0.5em;
        margin-left: 0.2em;
        overflow: hidden;
        float: left;
      }

      .sortable li.mjs-nestedSortable-collapsed > ol {
        display: none;
      }

      .sortable li.mjs-nestedSortable-branch > div.item > .disclose {
        display: block;
      }

      .sortable li.mjs-nestedSortable-collapsed > div.item > .disclose > span:before {
        content: '+ ';
        line-height: 1.9em;
        color: #999;
      }

      .sortable li.mjs-nestedSortable-expanded > div.item > .disclose > span:before {
        content: '- ';
        line-height: 1.9em;
        color: #999;
      }
    }

    @media only screen and (max-width: 500px) {

      ol li .item .text {
        max-width: 200px;
        font-size: 0.7em;
      }
    }


/*
------------------------------------------- Menu Dropdown ---------*/
  
  /* Desktop ----------------*/
    .menu-container {
      position: relative;
      display: block;
      width: 1.5em;
      height: 1.5em;
      /*background: url(images/more-menu.png) no-repeat center -53px;*/
      right: 0;
      float: right;
      cursor: pointer;
      text-align: center;
      color: #999;
      font-size: 14px;
      text-shadow: none;
      -webkit-font-smoothing: antialiased;
      font-weight: normal !important;

    }

    .menu-container:before {
      line-height: 22px;
      content: "\f169";
      font-family: "foundation-icons";
      font-size: 16px;
    }
    .menu-container:hover {
      color: #0099cc;
      background: #fff;
    }
    .menu-container:hover:before {
      /*background: url(images/more-menu.png) no-repeat center 11px #fff;
      color: #0099cc;
      background: #fff;*/
    }

    .menu-container.active {
      background: #fff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .dropdown-menu {
      font-size: 0.9em;
      text-shadow: none;
    }

  /* Smartphones ----------- */
    @media only screen and (max-width: 760px) {
      .menu-container {
        position: relative;
        display: block;
        width: 3.7em;
        height: 3.7em;
        /*background: url(images/more-menu.png) no-repeat center -53px;*/
        right: 0;
        float: right;
        cursor: pointer;
        text-align: center;
        color: #999;
      }

      .menu-container:before {
        line-height: 2.0em;
        content: "\f169";
        font-family: "foundation-icons";
        font-size: 2em;
        font-weight: lighter;
      }
      .menu-container:hover {
        color: #0099cc;
        background: #fff;
      }
      .menu-container:hover:before {
        /*background: url(images/more-menu.png) no-repeat center 11px #fff;
        color: #0099cc;
        background: #fff;*/
      }

      .menu-container.active {
        background: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      }

      .dropdown-menu > li > a {
        font-size: 1.5em;
      }
    }

.dropdown-menu {
  text-align: left;
  position: absolute;
  top: 100%;
  right: -1px;
  z-index: 1000;
  display: none;
  /*float: left;*/
  min-width: 160px;
  padding: 5px 0;
  /*margin: 2px 0 0;*/
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  /*-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;*/
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open {
  *z-index: 1000;
}

.open > .dropdown-menu {
  display: block;
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
     -moz-border-radius: 0 6px 6px 6px;
          border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  -webkit-border-radius: 5px 5px 5px 0;
     -moz-border-radius: 5px 5px 5px 0;
          border-radius: 5px 5px 5px 0;
}

.dropdown-submenu > a:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: -10px;
  border-color: transparent;
  border-left-color: #cccccc;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
     -moz-border-radius: 6px 0 6px 6px;
          border-radius: 6px 0 6px 6px;
}

.dropdown .dropdown-menu .nav-header {
  padding-right: 20px;
  padding-left: 20px;
}